.totalCard {
    display: flex;
    flex-direction: column;   
}

.statistic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
    background:cornflowerblue;
    padding: 20px 50px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.title {
  display: flex;
  flex-direction: row;
  
  /* margin-left: 20px; */
  margin-top: 15px;
  background-color: cornflowerblue;
  color: white;
}

.countryList{
  display: flex;
  flex-direction: row;
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 55%;
}

.card {
  display: flex;
  flex: 1 1 160;
  padding-left: 15px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.statCard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 40%;
}

.number {
  margin-left: 20px;
  text-align: center;
  width: 3%;
}

